* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    background-color: #19191B;
}

a{
    text-decoration: none;
}

.container {
    width: 1080px;
    margin: 0 auto;
    text-align: center;
}

.navbar .container {
    margin: 10px auto;
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-self: center;
}

.nav-list-item {
    padding: 5px;
    margin: 5px;
    color: #19191B;
}

.nav-link {
    color: #fff;
    font-size: 15px;
}

.nav-link:hover {
    color: #F04037;
}

.omega-logo{
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin-right: 200px;
}


.get-start-1 {
    background: #F04037;
    border: 1px solid #C31A12;
    border-radius: 5px;
    outline: none;
    width: 150px;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    margin-left: auto;
    margin-right: 5px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-start-1:hover {
    background-color: #fff;
    color: #F04037;
    border-color: #F04037;
}